<!-- Left Side Of Navbar -->
	{% block navbarLeft %}
	    <ul class="nav navbar-nav">
	      <li><a href="{% url 'home_page'%}">Home</a></li>
	      <li {% if section == 'workspace' %} class=" dropdown active" {% endif %}><a class="dropdown-toggle" data-toggle="dropdown" href="#" >Dashboard<span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a href="{% url 'account:home_page'%}" class="active">Account</a></li>
	          <li {% if section == 'workspace' %} class="active" {% endif %}><a href="#">Workspace</a></li>
	          <li><a href="{% url 'alergies_maper:all_patientes' %}">Patientes</a></li>
	        </ul>
	      </li>
	      <li><a href="{% url 'alergies_blog:home_page' %}">Blog</a></li>
	      {% include 'alergies_maper/includes/formCoordinates.html' %}
	    </ul>
	{% endblock navbarLeft %}