{% extends 'Alergies_Blog/Base_template.html' %}
{% load staticfiles %}
{% block title %} Home Page {% endblock title %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">	
	{% include 'Alergies_Blog/includes/navbar_brand.html'%} 
	{% include 'Alergies_Blog/includes/navbar_left.html'%} 
	{% include 'Alergies_Blog/includes/navbar_right.html'%} 
  </div>
</nav>	

	{% include 'Alergies_Blog/includes/show_all_posts.html'%} 
		
<script>

	
	
	
	
</script>
{% endblock content %}
