<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Py Alergies </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--  OL 3-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.0.1/ol-debug.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.0.1/ol-debug.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<!--  User Defined Scripts -->
  <script src="{% static 'js/base_main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/base_main.css' %}">
	
</head>
<body>
{% block content %}
	<p id="pIsRegistred"> {{ isRegistred }} </p>
<!--***************************************** Nav Bar **************************************************************************************-->
 
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PyAlergies</a>
    </div>
    {% if request.user.is_authenticated %}
    <ul class="nav navbar-nav">
   
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Dashboard <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Main</a></li>
          <li><a href="#">Work Space</a></li>
          <li><a href="#">Patientes</a></li>
        </ul>
      </li>
      <li><a href="{% url 'alergies_blog:home_page' %}">Blog</a></li>
	  
    </ul>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
     <!-- Check for user authentication. If user is authenticated show just Logout else show Login and SignUp -->
      {% if request.user.is_authenticated %}
      	<li><a href="{% url 'account:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      {% else %}
      	<li><a href="{% url 'account:sign_up' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      	<li><a href="{% url 'account:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<!--*****************************************--END--***********************************************************************************************--> 

<!--***************************************** Main Element With Map **************************************************************************************-->	

<div class="container-fluid">    
	<div class="row content">
		<div class="col-md-8 map" id="map"> </div>	
		
<!--*****************************************--END--***********************************************************************************************--> 
 
<!--***************************************** Right Asside For Marketing **************************************************************************************-->	
		<div class="col-md-4 sidenav" id="sidenavDiv">
			<div class="row">
				<div class="col-md-12" id="mainImage">
					<img  alt="Alergies" src="#"/>
				</div>
			</div>
		</div>
	</div>
</div>

<!--*****************************************--END--***********************************************************************************************--> 
<!--***************************************** Footer **************************************************************************************-->	

<footer class="container-fluid text-center">
  <p>Author Djordje Subotic</p>
</footer>

<!--*****************************************--END--***********************************************************************************************--> 



{% endblock content %}
</body>

</html>