<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--  Links For Including Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!--  Links For Including OL 3-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.0.1/ol-debug.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.0.1/ol-debug.css">
  
  <!-- Links For Including Data Tables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	 
	<!-- Data Tables -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
	 <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	 
	  	
</head>
<body>
{% block content %}


<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		{% include 'alergies_maper/includes/navbar_brand.html' %} 
		{% include 'alergies_maper/includes/navbar_left.html' %} 
		{% include 'alergies_maper/includes/navbar_right.html' %} 
	</div>
</nav> 

<script>
$.ajax("{% url 'alergies_maper:get_workspace' %}",{
	type:"GET",
	headers : {"Accept":"application/json","Content-Type":"application/json"}
	
}).done(function(res, status){
	alert(status)
	var data = res.workspaces.workspace 
	var table = "<table class='table'><thead><tr><th>HREF</th><th>NAME</th></tr></thead><tbody>"
	$.each(data, function(index,value){
		
		$.each(value,function(k,v){
			var t = "<tr><td>"+value['href']+"</td><td>"+"<a href="+""+"http://localhost:8090/geoserver/rest/workspaces/"+value['name']+""+">"+value['name']+"</a>"+"</td></tr>";
			table+=t;
		})
		
	});
	table+="</tbody></table>";
	$('body').append(table);
	
}).fail(function(s,v){
	alert(v)
});

</script> 

{% endblock %}
</body>
</html>