/* Remove the navbar's default margin-bottom and rounded borders */ 
   
.navbar {
	
	margin-bottom: 0;
	border-radius: 0;
	border:1px solid black;
 
   }
	
#mainImage img {
	
	width: 100%;
	height:533px;
	padding:0px;
	
}
    
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  
	height: 550;
	padding-left: 0px;
	padding-right: 0px;
	
}
    
#map {
	
	padding-top: 0px;
	height: 550px;
	padding-left:0px;
	padding-right:0px;
	
}

/* Set gray background color and 100% height */
.sidenav {
   
	padding-top: 0px;
	height: 100%;
	padding-left:0px;
	padding-right:0px;
}
    
/* Set black background color, white text and some padding */
  footer {

	padding-left:10px;
	padding-right:10px;
	
	background-color: black;
	color: white;
	padding-top:30px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	
  }
    
	
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}
    
#pIsRegistred {
	display: none;
}

